.best-product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}
.best-product-item {
  width: 48%;
  padding: 0px;
}
.best-product-item .best-product-item__img img {
  width: 100%;
  border-radius: 5px;
}