.order-detail-card-wrap {

  padding: 1.5rem 1rem;
  margin: 0 1rem;
}

.order-detail-card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-detail-card-left {
  width: 33%;
  margin-right: 1rem;
}

.order-detail-card-left img {
  width: 100%;
  height: auto;
}

.order-detail-card-right{

  margin-bottom: 20px;
}

.order-detail-close img {
  width: 12px;
  margin: 5px;
  color: rgb(138, 138, 138);
}

.order-detail-card-right p {
  padding: 0px;
  margin: 0px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.order-detail-card-right p:last-child{

  color: rgb(138, 138, 138);
  font-size: 0.9rem;
  line-height: 2rem;
}


.order-detail-card-right .order-detail-price {
  font-size: 1.1rem;
  font-weight: bold;
}

.order-detail-line {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 10px 0px;
}

.order-detail-card-right .order-detail-title {
  font-size: 0.8rem;
  color: rgb(44, 123, 76);
  background-color: rgb(185 229 204);
  height: 1.4rem;
  width: 3.6rem;
  text-align: center;
  border-radius: 2px;
}



/*.order-product-card-right{

  margin-bottom: 20px;
  
}



.order-detail-title {

  font-size: 0.7rem;
}

.order-detail-close img {

  width: 12px;
  margin: 5px;
  color: rgb(138, 138, 138);
}


.order-product-card-right p:last-child {

  color: rgb(138, 138, 138);
  font-size: 0.9rem;
}*/




/*.order-detail-card-right .order-detail-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}*/

