section#recommand-md {
  padding: 0px 14px;
}

section#recommand-md .recommand-product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: scroll;
}

section#recommand-md .recommand-product-list .recommand-product-item {
  width: 200px;
  height: 300px;
  margin: 0px 10px;
  padding: 0px;
}

section#recommand-md
  .recommand-product-list
  .recommand-product-item
  .recommand-product-item__img {
  width: 100%;
  height: auto;
}

.item-new {
  font-size: 0.8rem;
  color: #0db904;
  font-weight: lighter;
  font-style: italic;
  margin: 0px;
  padding: 5px 0px;
}

.item-title {
  line-height: 1.3;
  letter-spacing: 1px;
  width: 100%;
}

.item-price span {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0px;
}
.hidden-item {
  opacity: 0;
}
.main-item-img {
  margin-top: 114px;
}
.item-img {
  border-radius: 10px;
}
/*바리스타춘식*/
.recommand-barista-item {
  display: flex;
  flex-direction: row;
}
.recommand-barista-item__info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.recommand-barista-item__info p {
  margin: 10px;
}
