.agree-body {
  padding: 20px 20px;
}



/*
여기까지가 스탭 1-2-3 라인입니다.
*/

.agree-form .agree-header {
  padding: 20px 20px;
  border-bottom: thin solid #c7c7c7;
}

.agree-form .agree-title h1 {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 20px 0px;
}

.agree-check-all {
  display: flex;
  align-items: center;
}

.agree-check-all label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.agree-check-all input[type="text box"] {
  width: 20px;
  height: 20px;
  vertical-align: center;
  margin-right: 10px;
}

.agree-info-wrap {
  
  align-items: center;
}

.agree-info-wrap p {
  font-size: 0.9rem;
  line-height: 0.8;
  margin: 8px;
  color: #888;
}

.agree-info-wrap-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agree-info-wrap-list img{
  width: 20px;
  height: 20px;
}
.agree-right-img{
  transform: rotate(180deg);
}



.agree-body-form-input {
  padding: 10px 0px;
  border-bottom: thin solid #c7c7c7;

}

.agree-body-form-input input,
.agree-body-form-input select {
  height: 30px;
  border: none;
}

.agree-body-form-input input::placeholder {
  font-size: 1.2rem;
  color: #c7c7c7;
}

.agree-body-form-input .birth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 여기서부터 이메일 인증*/

.id-email-body {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: solid 1px #c7c7c7;
  
}

.id-ematl-total{

  align-items: center;
  display: flex;
  justify-content: space-between;
}


.id-mail-ac p{

  width: 30%;
  font-size: 1.4rem;
  color: #7a7777;
  display: flex;
  align-items: center;
}

.id-email-body-from-input input {

  width: 100%;
  font-size: 1.2rem;
  border: none;
  outline: none;
}


.id-email-body-form-input input::placeholder {
  font-size: 1.2rem;
  color: #c7c7c7;
  padding: 30px 0px;

}

.id-email-body-form-input input,
.id-email-body-form-input select {
  height: 50px;
  border: none;
  font-size: 1.2rem;
  color: #b2b1b1;

}

.id-email-body-form-input .email select {
  font-size: 1.3rem;
  width: 100px;
}


.id-mail-body-form-input .mail-ac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.id-email-body-form-input .id-e-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  font-size: 1.4rem;
}

/* 중복확인 버튼 class 수정*/
.id-number{
  display: flex;
  flex-direction:row;
  padding: 10px 0px;
  border-bottom: thin solid #c7c7c7;

}

/* 중복확인 버튼 추가
.email-check-botton{

  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 40px;
  margin: 13px 10px 0px 20px;
  width: 170px;
  font-size: 1rem;
  border: none;
  background-color: rgba(0,0,0,0);
  border-color:rgb(255, 255, 255);
  color: #b2b1b1;
}
*/


/*여기까지 이메일 인증*/

.id-warning{

  font-size: 0.8rem;
  color: #8d8b8b;;
}

