.order-list-page-title {

  margin-top: 70px;
  font-size: 0.75rem;
  padding: 20px 20px;
}

.order-list-page {

  display: flex;
}

.order-list-page-date {
  margin-left: 20px;
  font-size: 1.1rem;
}

.order-list-page-date {

  display: flex;
  justify-content: space-between;
}

.order-img img {
  transform: rotate(270deg);
  width: 20px;
  margin: 20px 20px;
}

.order-list-form {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}


.order-list-form-title {

  text-align: center;

}