.payment-info-title {

  margin-top: 50px;
  font-size: 0.8rem;
  padding: 20px;
  background: linear-gradient(#ffffff 90%, rgb(243, 241, 241) 10%);
}

.pay-info-address {

  padding: 20px;
  font-size: 1.2rem;
  line-height: 13px;
  background: linear-gradient(#ffffff 94%, rgb(243, 241, 241) 6%);
}


/*.pay-info-address{

  padding: 20px;
  font-size: 1.2rem;
  line-height: 13px;
  margin-top: -40px;
  margin-bottom: -40px;
}*/

.pay-info-address-form h1 {

  font-size: 1.3rem;
  padding: 20px;
  margin-bottom: -50px;
}

.pay-info-address p {

  font-size: 1rem;
  line-height: 22px;
}

.pay-info-address p:first-child {

  font-weight: bold;
  margin-top: 40px;
}


.payment-info-wrap-list h2 {

  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 40px;
}

.payment-product-list-form {

  padding: 20px;
  background: linear-gradient(#ffffff 95%, rgb(243, 241, 241) 5%);
}



.payment-product-list-form .payment-product-list {

  display: flex;
  justify-content: space-between;
}




.payment-product-list form {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  padding: 20px;
  font-weight: bold;
  margin-top: 30px;
  padding: 0px 0px 10px 20px;
}

.payment-product-list p {

  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.payment-product-list-info {

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin: -10px 0px 10px 0px;
}

.red-mug-img {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.payment-total-product{

  margin-bottom: 60px;
}

.payment-total-product p:last-child{

  font-size: 0.85rem;
  color: #8b8b8b;
}

.payment-product-list-info p {

  font-size: 0.9rem;

}

/*.payment-total-wrap-list .payment-total-wrap {

  display: flex;
  flex-direction: column;
}*/


.payment-total-wrap-list {

  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: bold;
  /*padding: 20px;*/
  border-bottom: solid 1px #e2e2e2;
  margin: 10px 20px 0px 20px;
}




.payment-total-wrap {

  display: flex;
  justify-content: space-between;
}

.payment-total-won {

  display: flex;

}

.payment-total-won {
  font-size: 1.3rem;
  margin: -5px;
}


.pay-info-right-img {
  transform: rotate(-91deg);
  width: 20px;
  margin: 15px;
}

.payment-total-sum-list {

  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 20px;
  font-weight: bold;
  margin: -10px 0px 0px 0px;
}

.payment-total-sum {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -40px;
}

.pay-info-btn-list {

  margin: 50px 25px;
}

.pay-info-btn {

  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  height: 40px;
  margin-bottom: 50px;
  color: #01A862;
  border-color: #01A862;
}

.go-main-btn {

  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: #01A862;
  height: 40px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  */
}