.main-payment body {

  padding: 10px 10px;
}

.patment-form .payment-header {
  padding: 20px 20px;
}

.main-payment-title {
  font-size: 1.8rem;
  margin-top: 70px;
  padding: 5px 25px;

}

.payment-resister {

  text-align: center;
  font-weight: 550;
  font-size: 1.1rem;
}

/* .payment-info-wrap-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgb(248 248 248);
} */



.payment-right-img {
  transform: rotate(-91deg);
  width: 30px;
  margin: 15px;
}


.payment-info-wrap-list {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  padding: 20px;
  font-weight: bold;
  background-color: rgb(248 248 248);
  margin-top: 30px;
  padding: 0px 0px 10px 20px;
}

.payment-product-wrap-list {

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 0px 40px 0px 0px;
}


.payment-info-wrap-list .payment-info-toggle {
  display: flex;
  justify-content: space-between;

}

.red-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 80px;
}

.coupon-info-wrap-list .payment-info-toggle {

  display: flex;
  justify-content: space-between;
  

}

.coupon-info-wrap-list {

  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: solid 1px #c7c7c7;
  margin: 0px 0px 0px 20px;
}

.coupon-product-wrap-list {

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.pay-agree {

  display: flex;
  justify-content: space-between;

}

.pay-agree-input {

  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.pay-agree-input input {

  display: flex;
  flex-direction: row;
  margin: 10px;
}


/*.pay-coupon-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 40px;

}

.payment-select {

  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

}*/

.payment-info-wrap-price {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.3rem;
  padding: 20px;
  font-weight: bold;

  border-bottom: solid 1px #e2e2e2;

}

.payment-info-price title {

  display: flex;
  flex-direction: row;
  align-items: center;

}


.payment-info-price-title p {

  
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;

}

.pay-info-order-price {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -40px;
}





.pay-info-order-price p:first-child {

  font-size: 1rem;
}

.pay-info-order-price p:last-child {

  font-size: 1.3rem;
}

.final-info-wrap-price {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.3rem;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 100px;

}

.final-info-price-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -40px;
}

.pay-agree{

  display: flex;
  justify-content: space-between;
}

.pay-agree p{

  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-payment-submit {
  background-color: rgba(255, 255, 255, 0.893);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  -webkit-box-shadow: -2px 9px 23px -8px #000000;
  box-shadow: -2px 9px 23px -8px #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

}

.main-payment-submit button {
  width: 90%;
  height: 60%;
  padding: 0px;
  background-color: #01A862;
  border: none;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 800;
}