/*헤더부분(공통)
.header {
    background-color: var(--color-white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 60px;
}

.header-top .menu-icon {
    width: 10%;
}

.header-top h1 {
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
    margin: 0px 30px;
}*/

/*헤더부분(공통)*/

.main-payment body {

    padding: 10px 10px;
}

/*.paytment-form .payment-header {
    padding: 20px 20px;
}*/

/*결제하기*/
.main-address-title {
    font-size: 1.3rem;
    margin-top: 70px;
    padding: 5px 25px;

}


.change-button-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

/*배송정보*/
.change-button-form h3{

    font-size: 1.3rem;
}

/*베송지 등록 버튼*/
.change-button{
    text-align: center;
    font-size: 1rem;
    padding: 5px 13px;
    border-radius: 20px; 
    background-color: rgb(255, 255, 255);
    height: 40px;
    color: rgb(136, 136, 136);
    border-color: rgb(151, 151, 151);
}

/*주소지*/
.pay-address-info{

    padding: 20px;
    font-size: 1.2rem;
    line-height: 13px;
    margin-top: -40px;
    margin-bottom: -40px;
}

/*상품내역*/
.pay-address-info p{

    line-height: 25px;
    font-size: 1rem;
    margin-top: 10px;
}

/*등록된 배송지가 없습니다*/
.payment-resister {

    border: none;
    text-align: center;
    font-weight: 550;
    font-size: 1.1rem;

}

/*배송지 등록*/
.address-serch {

    margin-top: 20px;
    height: 40px;
    /*margin: 20px 20px 0px 0px;*/
    width: 170px;
    border-radius: 20px;
    font-size: 1.1rem;
    color: #01A862;
    border-color: #01A862;
    background-color: rgb(255, 255, 255)
}

/* .payment-info-wrap-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(248 248 248);
  } */



/*.payment-info-wrap-list p {
    font-size: 1rem;
}*/

.payment-info-wrap-list {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(248 248 248);
    margin-top: 30px;
    padding: 0px 0px 10px 20px;
}

.payment-info-wrap-list .payment-info-toggle {
    display: flex;
    justify-content: space-between;

}

.payment-info-toggle p{

    font-size: 1.2rem;
}

.red-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 80px;
}


/* 상품내역 < 부분*/
.payment-right-img {
    transform: rotate(-91deg);
    width: 30px;
    margin: 15px;
}

/*쿠폰 및 할인 < 부분*/
.payment-second-img {

    transform: rotate(180deg);
    width: 30px;
    margin: 15px;
}

/*커티스 쿨릭 레드 머그*/
.payment-product-wrap-list {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 0px 40px 0px 0px;
}

/*쿠폰 및 할인*/
.coupon-info-wrap-list .payment-info-toggle {

    display: flex;
    justify-content: space-between;

}

/*결제수단*/
.coupon-info-wrap-list {

    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: solid 1px #c7c7c7;
    margin: 0px 0px 0px 20px;
}

/*.coupon-product-wrap-list {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}*/

/*
.pay-agree {

    display: flex;
    justify-content: space-between;

}*/

/*스타벅스 카드, 신용카드 */
.pay-agree-input {

    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.pay-agree-input input {

    display: flex;
    flex-direction: row;
    margin: 10px;
}


/*.pay-coupon-img {????
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  .payment-select {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }*/


/*결제정보
결제정보~배송비
할인금액-상품할인
결제금액-모바일상품권
최종 결제금액
*/

.payment-info-wrap-price {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.1rem;
    font-weight: bold;
    /*border-bottom: solid 1px #e2e2e2;*/
    margin: 10px 20px 0px 20px;
    line-height: 10px;
}

/*.payment-info-price title {

    display: flex;
    flex-direction: row;
    align-items: center;

}*/

.payment-info-price-title h4 {

    margin: 20px 0px 20px 0px;
    font-size: 1.2rem;
    font-weight: bold;

}

/*.payment-info-price-title p {


    display: flex;
    font-size: 1.2rem;
    font-weight: bold;

}
*/

.pay-info-order-price {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

*.pay-order-price-first {

    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
}

/*최종 결제 금액*/

.final-info-wrap-price {

    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 20px;
    font-weight: bold;
    margin: -20px 0px 0px 0px;
}

/*상품할인*/
.payment-info-wrap-price-form {

    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

/*최종 결제 금액 26,000원*/
.final-info-price-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -40px;
}

/*최종 결제 금액 26,000원 폰트 크기*/
.final-info-price-title p:last-child {

    font-size: 1.7rem;
}

/*위 주문 내용을 확인~~~부분 */
.pay-agree {

    padding: 0px 20px;
    background-color: #f5f5f5;
    margin: 30px 20px 120px 20px
}

.pay-agree-form {

    line-height: 17px;
    margin: 0px -10px;
}


.pay-agree p {
    font-size: 0.85rem;
    line-height: 25px;
    padding: 0px 0px 0px 10px;
}


.main-payment-submit {
    background-color: rgba(255, 255, 255, 0.893);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    -webkit-box-shadow: -2px 9px 23px -8px #000000;
    box-shadow: -2px 9px 23px -8px #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;

}

.main-payment-submit button {
    width: 90%;
    height: 60%;
    padding: 0px;
    background-color: #01A862;
    border: none;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 800;
}