.section-main{
    margin-top: 60px;
}
.product-main-info img{
    width: 100%;
}
.product-detail-info img{
    width: 20px;
    height: 20px;
}
.product-detail-info div{
    display: flex;
}
.product-detail-info{
    padding: 20px;
}
.product-detail-info h2{
    margin: 0px;
    width: 80%;
}
.product-detail-info img
{
    width: 100%;
    height: auto;
}
.boder-under h2{
    padding: 0px 10px;
}   
.product-charge{
    font-size: 30px;
    font-weight: 800;
    margin: 20px 0px 0px 0px;
}
.product-detail-info h3{
    margin: 5px 2px;
}
.footer-product{
    margin-top: 20px;
    margin-bottom: 90px;
}
.footer-product-check {
    margin: 0px 20px;
}
.footer-product-check div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.footer-product-check p {
    font-size: 20px;
    font-weight: 800;
}