:root {
  --color-primary: #067040;
  --color-black: #55453a;
  --color-white: #fff;
  --color-starbucks: rgb(0, 167, 98);
  --color-primary-btn: rgb(0, 167, 98);
  --color-brightgrey: #cccbcb;
  --color-darkgrey: rgb(118, 117, 117);
  --color-brightgrey-background: #f3f5f7;
}
