body {
  margin: 0px;
}

h1 {
  color : var(--color-black);
}

.boder-under {
  border-bottom: thin solid #dedede;
}
.border-top{
  border-top: thin solid #dedede;
}
.sep{
  height: 10px;
  background-color: #f3f5f7;
  margin: 10px 0px;
}